<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form">
                    <input style="width: 15%;" type="text" class="form-control" placeholder="Task Name">
                    <input style="width: 70%;" type="text" class="form-control" placeholder="Description">
                    <input style="width: 14%;" type="button" class="btn btn-default" value="Submit">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>
<!-- /container -->

<div class="container">
<tasks></tasks>
</div>